
:root {
  --clr-primary-300: #394E7F;
  --clr-primary-800: #0e131f;

  --clr-accent-200: #FFE0B5;
  --clr-accent-400: #B96D40;
  --clr-accent-600: #985934;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #000;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-800);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-accent);
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
}

h2,
h3 {
  font-weight: 600;
}

h2,
h3,
p {
  margin-bottom: 1rem;
}

section {
  padding: 1rem 0;
}

.container {
  margin: 2rem;
  max-width: 80%;
}

.txt-center {
  text-align: center;
}

.txt-heavy {
  font-weight: 600;
}

.txt-normal {
  font-weight: 400;
}

.txt-light {
  font-weight: 200;
}

.txt-upper {
  text-transform: uppercase;
}

.title {
  padding: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

/* ROWS AND COLUMBS */

.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.columns > * {
  width: 100%;
  padding: 2rem;
}

/* NAVBAR */

#navigation > ul {
  text-align: center;
  align-items: center;
  font-size: 1rem;
}

.navbar > li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

.navbar > li > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.navbar > li > a:hover {
  color: #B96D40;
}

/* HEADER */

#header {
  height: 28rem;
}

#header > .columns {
  margin: 2rem 5rem;
}

.header-intro {
  padding: 2rem;
  text-align: right;
}

.hello {
  float: right;
}

.hello > h3 {
  padding: 10px;
  width: fit-content;
  color: white;
  background-color: #B96D40;
  border-radius: 20px 20px 20px 0px;
}

.intro {
  clear: both;
}

.icons {
  margin: 20px 0px;
  padding: 10px;
}

.icons > a {
  color: white;
  padding: 10px;
}

.header-image {
  margin: 20px;
  padding: 10px;
  display: inline-block;
  align-items: center;
  height: 100%;
  vertical-align: middle;
}

.portrait {
  margin: 24px;
  width: 240px;
  float: left;
  border-radius: 50%;
  border: 6px solid #B96D40;
}

/* ABOUT ME */

#aboutme {
  min-height: 30rem;
  background-image: url("https://images.unsplash.com/photo-1590129696536-c5103275839c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutme > .columns {
  margin: 2rem 10rem;
}

.about {
  background-color:var(--clr-accent-600);
}

/* SKILLS */

#skills {
  margin: 0 8rem;
}

.skills > ul {
  list-style: none;
  padding: 0;
}

.skills > ul > li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: fit-content;
  color: white;
  border: 1px solid #B96D40;
  border-radius: 20px;
}

.btn {
  margin: 1em;
  padding: 1em;
  width: fit-content;
  color: white;
  border: 1px solid #B96D40;
  border-radius: 20px;
  text-decoration: none;
}

